* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: hsl(30, 38%, 92%);
  /* max-width: 1200px; */
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  width: clamp(30rem, 90vw, 60rem);
  height: clamp(40rem, auto, 50rem);
  margin: clamp(2rem, 5vw, 5rem) auto;
}
.image {
  background-image: url("./images/image-product-desktop.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.container-text {
  background-color: hsl(0, 0%, 100%);
  padding: clamp(1.5rem, 3vw, 2.5rem);
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parfun {
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  color: hsl(228, 12%, 92%);
  text-transform: uppercase;
  letter-spacing: 2px;
}
h3 {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 3.2rem);
  margin: 1.5rem 0;
}

p {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: hsl(228, 12%, 92%);
}
h2 {
  font-size: clamp(2rem, 3vw, 2.8rem);
  font-weight: 800;
  font-family: "Fraunces";
  color: hsl(158, 42%, 18%);
  margin: 1.5rem 0;
}
h2 span {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  font-family: "Montserrat";
  color: hsl(228, 12%, 92%);
  text-decoration: line-through;
  margin-left: 1.8rem;
}

/* button */

.btn-align-self {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 1.2rem 3.2rem 1.2rem 3.2rem;
  font-size: 1.4rem;
  font-family: "Fraunces";
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}
.btn-icon {
  margin-right: 1rem;
}
.btn:hover {
  background-color: hsl(158, 36%, 25%);
}

/* Media queries */

@media (max-width: 600px) {
  .card {
    grid-template-columns: 1fr;
  }
  .image {
    height: 25rem;
    background-image: url("./images/image-product-mobile.jpg");
  }
  .container{
    width:90%;
  }
}
a:focus { outline: 3px solid #4183c4; outline-offset: 2px; }
